@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
nav {
  z-index: 9999;
}

.navbar {
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  .style li a {
    color: white !important;
    padding: 0.8em;
    line-height: 1;
    border-bottom: none;
    text-align: center;
    font-size: 14px;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 0.15ch;
    -webkit-transition: 0.1s ease-in-out, letter-spacing 0.3s ease;
    transition: 0.1s ease-in-out, letter-spacing 0.3s ease;
  }
  .style li a:hover {
    letter-spacing: 0.4ch;
  }
  .nav-link {
    margin-bottom: 14px;
    text-align: center;
  }
  .navbar-dark {
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 2.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media only screen and (min-width: 768px) {
  .nav-item a.font-weight-bold::after, .nav-item a.font-weight-bold::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .nav-item a.font-weight-bold {
    font-family: "Orbitron", sans-serif;
    position: relative;
    color: white !important;
    padding: 1em;
    letter-spacing: 0.15ch;
    margin: 0.45em 0.6em;
    line-height: 1;
    border-bottom: none;
    border: 1px solid white;
    font-size: 14px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .nav-item a.font-weight-bold:hover {
    color: black !important;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .nav-item a.font-weight-bold::after {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    z-index: 99;
    inset: 92% 0 0 0;
  }
  .nav-item a.font-weight-bold:hover::after {
    background: white;
  }
  .nav-item a.font-weight-bold::before {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    z-index: -1;
    background: white;
    inset: 0 0 0 0;
  }
  .nav-item a.font-weight-bold:hover::before {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    background: white;
    -webkit-transform: scaleY(1.01);
            transform: scaleY(1.01);
  }
  @-webkit-keyframes change {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
    }
    49% {
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
    }
    50% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: bottom right;
              transform-origin: bottom right;
    }
    99% {
      -webkit-transform-origin: bottom right;
              transform-origin: bottom right;
    }
    100% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
    }
  }
  @keyframes change {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
    }
    49% {
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
    }
    50% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: bottom right;
              transform-origin: bottom right;
    }
    99% {
      -webkit-transform-origin: bottom right;
              transform-origin: bottom right;
    }
    100% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
    }
  }
  @-webkit-keyframes changeY {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
    }
    49% {
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
    }
    50% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: top right;
              transform-origin: top right;
    }
    99% {
      -webkit-transform-origin: top right;
              transform-origin: top right;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
    }
  }
  @keyframes changeY {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
    }
    49% {
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
    }
    50% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: top right;
              transform-origin: top right;
    }
    99% {
      -webkit-transform-origin: top right;
              transform-origin: top right;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
    }
  }
  .navbar-items-logo {
    padding: 0.3rem;
  }
}

#login a.dropdown-item {
  color: white;
  font-size: 14px;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.15ch;
  font-weight: 800;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

#login a.dropdown-item:hover {
  color: black !important;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: white;
}
/*# sourceMappingURL=navbar.css.map */