body {
    margin: 0;
    overflow: visible;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.wallpapersafari.com%2F43%2F91%2FXgzqEC.jpg&f=1&nofb=1");
    background-size: cover;
}

canvas {
    display: block;
    position: relative;
    top: 0;
    left: 0;
}

#canvas_container {
    width: 100%;
    height: 100%;
}

/* button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 0.5rem 0.9em;
    background: #000000;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s;
}

button:hover {
    background: #ffffff;
    color: #000000;
} */