
.img-classics{
    opacity: .2;
}
.img-classics.hover{
    opacity: .8;
}
.margin-50{
    margin-top: 70px;
}

@media screen and (max-width: 600px) {
    .margin-50 > div:first-child {
        margin-bottom: 70px;
    }
}